/* Project cards */
.card {
  padding: 1rem;
  background-color: var(--card-background);
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px; /* Add this line to ensure a minimum height */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.card:hover::before {
  opacity: 1;
}

.card .project-info {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover .project-info {
  opacity: 1;
  transform: translateY(0);
}

/* Project Images */

/* project 1 */
.card:nth-child(1) {
  background-image: url(../assets/project/RIS.png);
}

/* Project 2 */
.card:nth-child(2) {
  background-image: url(../assets/project/data-analysis.png);
}

/* Project 3 */
.card:nth-child(3) {
  background-image: url(../assets/project/restfulapi.png);
}

/* Project 4 */
.card:nth-child(4) {
  background-image: url(../assets/project/smart-power-tracker.jpeg);
}

/* Project 5 */
.card:nth-child(5) {
  background-image: url(../assets/project/BHMS2.jpeg);
}

/* Project 6 */
.card:nth-child(6) {
  background-image: url(../assets/project/student-records.jpeg);
}
